/**
 * Implementation of hook_form()
 */
function module-name_form($form_state) {
  $form[''] = array (
    '#type' => '',
		'#title' => t(''),
  );
	$form[''] = array (
   '#type' => '',
	 '#title' => t(''),
 );
	return $form;
}

